127.0.0.1 localhost.localdomain localhost {{ inventory_hostname.split('.')[0] }}

192.168.171.10 constantinopla.va.entrementes.org
192.168.171.20 atlantis.va.entrementes.org
192.168.171.31 macondo1.va.entrementes.org
192.168.171.32 macondo2.va.entrementes.org
192.168.171.33 macondo3.va.entrementes.org
