127.0.0.1 localhost.localdomain localhost {{ inventory_hostname.split('.')[0] }}

192.168.171.10 constantinopla.entrementes.org
192.168.171.20 atlantis.entrementes.org
192.168.171.31 macondo1.entrementes.org
192.168.171.32 macondo2.entrementes.org
192.168.171.33 macondo3.entrementes.org
