[Unit]
Description=Gitlab CE Docker Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
User=gitlab
ExecStart=/usr/local/bin/docker-compose -f /gitlab/docker-compose.yml up --no-recreate
ExecStop=/usr/local/bin/docker-compose -f /gitlab/docker-compose.yml stop

[Install]
WantedBy=local.target