{ 
	"datacenter": "entrementes",
	"node_name": "{{ inventory_hostname.split('.')[0] }}",
	"bootstrap": true,
	"server": true,
	"data_dir": "{{ consul_storage.path }}",
	"log_level": "INFO",
	"enable_syslog": true,
	"bind_addr": "{{ hostvars[inventory_hostname][env['network_interface']]['ipv4']['address'] }}",
	"advertise_addr": "{{ hostvars[inventory_hostname][env['network_interface']]['ipv4']['address'] }}"
}
